@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@800&family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    background-color: black;
    position: relative;
}
.navbar .navbar-brand {
    color: rgb(241, 155, 7) !important;
    font-weight: bold;
    margin-left: 5%;
    text-align: center;
    font-family: 'Kanit', sans-serif; 
    font-weight: 500;
    font-size: 35px;
}
.navbar .navbar-brand:hover{
    color: orange !important;
}
.navbar .navbar-brand img{
    width: 50px;
    height: 50px;
    background-color: lightgoldenrodyellow;
}
  
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none; 
}
#basic-navbar-nav{
    text-align: center;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
  }
.navbar a {
    color: orange !important; 
    font-family: 'Kanit', sans-serif; 
    font-weight: 300;
    font-size: 25px;
    margin-left: 30px;
}
.navbar a:hover{
    color: lime !important;
}
.navbar a.active {
    color: lime !important;
}

#Button{
    width: 100px;
    height: 40px;
    text-align: center;
    color: orange !important;
    background-color:  black;
    border: 1.5px solid orange;
    font-family: 'Kanit', sans-serif; 
    font-weight: 300;
    border-radius: 20px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
} 
#Button::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent,orange, transparent);
    transform: translateX(-100%);
    transition: 0.6s;
    position: absolute;
}
#Button:hover{
    background: transparent;
    box-shadow: 0 0 20px 5px orange;
    background-color:  black;
    border: 1.5px solid orange;
    color: aliceblue !important;
}
#Button:hover::before {
    transform: translateX(100%);
}


/* Home page */
#home {
  width: 100%;
  height: auto;
  background-size: cover;
}
#home .carousel {
  width: 100%;
  position: relative !important;

}
#home .carousel-item {
  height: 820px;
  width: 100%;
  opacity: 0.8;
}
#home .carousel-caption{
    text-align: center;
    margin-top: 10px !important;
    color: red;
}
#home .carousel-caption h3{
    margin-top: 200px;
    font-size: 100px !important;
}


/* About */

#about{
    background-color:  black;
    height: max-content;
    width: 100%;
    overflow: hidden;
}
#about .row{
    margin-top: 150px;
    margin-bottom: 150px;
}
#about img{
    float: left;
    height: 200px;
    width: 500px;
    margin-left: 200px;
    margin-top: 80px;
    margin-bottom: 100px;
    box-shadow: 5cm white;
}
#about h1{
    color: white;
    text-align: center;
}
#about h3{
    color: white;
    margin-top: 40px;
    margin-bottom: 100px;
}


/* gallery */

.gallery {
    overflow: hidden;
    background-color:  black;
} 

.gallery h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 100px;
}

.gallery .col{
width: 100px;
}
.gallery .row {
    margin-top: 10px !important;
    margin-bottom: 100px !important;
    margin-left: 100px;
    margin-right: 80px;
}

/* class */

#class {
    background-color:  black;
    height: max-content;
    width: 100%;
    overflow: hidden;
    color: white;
}
#class h1{
    font-size: 70px;
    text-align: center !important;
    font-weight: bold;
    font-style: oblique;
    color: darkblue;
}
#class .row{
    margin-top: 150px;
}
#class .col{
    margin-left: 110px;
}
#class h2{
    font-size: 40px;
    font-weight: bold;
    float: left;
    margin-left: 100px;
    margin-bottom: 20px;
    font-family: caveat;
}
#class img{
    margin-top: 20px;
    margin-left: 45px;
}
#class ul{
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 40px;
}
#class h4{
    font-size: 40px;
    font-style: calc();
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: red;
}

/* contact */


#contact{
    background-color: black; 
    overflow: hidden;
    height: auto;
    color: white;
  }
  #contact .content h1{
    font-weight: bolder;
    font-family: 'Acme', sans-serif;
    word-spacing: 15px;
    margin-left: 15px;
  
  }
  #contact .text{
    display: flex;
  }
  #contact p{
    font-weight: 600;
  }
  #contact .icon{
    border: dotted;
    color: white;
  }
  #contact .data{
    display: flex;
  }
  #contact .data input{
    width: 50%;
    border-radius: 30px;
    border: none !important;
    height: 50px;
    color: white !important;
    background-color:  black;
  }
  #contact .data input:hover{
    box-shadow: 2px 2px 3px white;
    border: none !important; 
  }
  #contact .data input:focus{
    background-color: white;
    border: none !important;
    /* color: black !important; */
  }
  #contact .data button{
    color: white;
    background-color: #20c997;
    height: 50px;
    border: none;
    font-weight: 700;
  }
  #contact .data button:hover{
    background-color:  black;
  }
  #contact .text-success{
    color: white !important;
    background-color: #20c997;
    width: 80%;
    height: 50px;
    text-align: center;
  }